@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Montserrat:wght@300&family=Work+Sans&display=swap');

/* color palet:
 #acc7ce #ebd2cb #ce58bb #b9a47a #9fac9d #1aa4d3 #bdf3f3 #6aadaf
 #b7a0c9 #3063bd #10112c #4babea #1f3586 #11205e #5d2d45 #9b3852
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {

    overflow: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Crete Round', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.background {
    /* background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
     */
    background: linear-gradient(to right, #11205e, #b7a0c9);
    min-height: 100vh;
}



.main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.promo-container {
    width: 90%;
    border: none;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #11205e;
    /* background-color: #ce58bb; */
    color: #4babea;
    font-size: 9rem;
}

.container_2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {

    /* background-color: white; */
    background-color: #b7a0c9;
    border: none;
    border-radius: 15px;
    width: 90%;
    max-height: 75%;
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


input {
    width: 85%;
    height: 4em;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    box-shadow: 0px 0px 2px 1px lightgrey;

}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

input.gamebtn, a.gamebtn, button.gamebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 45%;
    height: 3em;
    border: none;
    border-radius: 5px;
    background-color: #3063bd;
    /* background-color: #bdf3f3; */
    text-decoration: none;
    color: white;
}

input.gamebtn:hover,
a.gamebtn:hover,
button.gamebtn:hover {
    cursor: pointer;
    background-color: #4babea;
}

a:visited {
    text-decoration: none;
    color: black;
}